body {
    margin: 0 auto;
    height: 768px;
    background: url("../img/phon.jpg") no-repeat center;
    background-size: cover;
    font-family: Ubuntu;
}

.menu-item {
    width: 100%;
    height: 58px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
}

.subtitle {
    display: flex;
    text-align: center;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    text-decoration: none;
    color: #FFFFFF;
}

a:hover .subtitle {
    color: darkgreen;
}



.item-text:hover {
    color: darkgreen;
}
 .item-text2:hover {
    color: darkgreen;
}



.menu-item a {
    text-decoration: none;
}

.svg-menu {

    margin-left: 450px;
    display: flex;

    align-items: center;

}


.svg-menu-teg {
    margin-right: 25px;
}

a:hover .svg-content {
    fill: darkgreen;
}

/* 
.svg-content {
    fill: cornflowerblue;


} */

.title-item {
    margin-left: 20px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    color: #FFFFFF;

}


.title-item a {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    color: #FFFFFF;

}


/* модальное окно */

.modal-window {
   margin: auto;
     width: 444px; 
    height: 584px;

    margin-top: 54px;
     /* margin-left: 460px;
    margin-right: 460px;  */



    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.tagline {

    padding-top: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tagline-title {
    margin-right: px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    color: #434343;
}

.tagline-title::before {
    content: url("../img/shape.png");
    margin-right: 40px;
}

.tagline-link {
    margin-right: 60px;
     text-decoration: none;
    
    color: #3CB878;

}
.tagline-link:hover {
    text-decoration:underline;
    
color: #01813F;
}

/* Кнопки */

.btn-socials {
    display: flex;
    justify-content: space-around;
    align-self: flex-end;
    margin-top: 20px;
    margin-left: 55px;
    margin-right: 55px;
}


.btn-face {
    display: flex;
    align-items: center;
    width: 157px;
    height: 46px;
    left: 1px;
    top: 1px;

    background: #305DB8;
    border-radius: 4px;

}

.btn-google {
    display: flex;
    align-items: center;

    width: 157px;
    height: 46px;
    left: 2px;
    top: 1px;

    background: #DF4A32;
    border-radius: 4px;
}
.btn-face:hover{
    background: #022263;
}
.btn-google:hover{
    background:#AB1F09;
}

.btn-subject, 
.btn-subject2 {

    position: relative;
    margin-left: 30px;
    font-family: Ubuntu;
    padding-left: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;

}

.btn-face svg {
    margin-left: 5px;
}
.btn-google svg{
    margin-left: 5px;
}

.btn-subject::before {
    position: absolute;
    margin-left: -23px;
    margin-top: -7px;
    content: url("../img/Rectangle.svg");

    padding-bottom: 20px;
}

.btn-subject2::before {
    position: absolute;
    margin-left: -35px;
    margin-top: -7px;
    content: url("../img/Rectangle.svg");

    padding-bottom: 20px;
}


/* or */
.narrow {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}


.stil-narrow {
    

font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */

display: flex;
align-items: center;

color: #848484;

}
.stil-narrow::before {
    position: absolute;
    content: '';
    width: 152px;
    
    border-bottom: 1px solid #F2F2F2;
    left: 60px;
    top:8px ;
}
.stil-narrow::after {
    position: absolute;
    content: '';
    width: 152px;
  
    border-bottom: 1px solid #F2F2F2;

    right: 60px;
top: 8px;
}

/* форма */

.form-tb {
    width: 324px;


margin: 0px auto;
margin-top: 20px;


flex-direction: column;

border-radius: 4px;
}

.form-tb-input {
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    margin-bottom: 15px;
    outline: none;
    border: 1px solid #F2F2F2;
    text-indent: 15px;
    
}

.form-tb-input:focus {
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(160, 149, 149, 0.322);
    opacity: 1;
    font-size: 14px;
    color: #434343;
}

.form-tb-input::placeholder {
    font-size: 14px;
    line-height: 14px;
 
    color: #BEBEBE;
}

.form-label {
    display: flex;
    align-items: center;
    
  
    font-size: 14px;
    color: #434343;

}
.forma-link {
    margin-left: 5px;
font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
text-decoration: none;

color:#1fad72;
}

.forma-link:hover {
    color: darkgreen;
    text-decoration:underline ;
}

.btn-form-link {
    margin-top: 20px;
    width: 324px;
    height: 46px;
    font-size: 16px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border-color: transparent;
    color: #FFFFFF;
}
    .btn-form-link:hover {
        background: #01813F;

    }
